<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
   <h2>Invalid Email Id or Password</h2>
   <br><br>
   <form action="/login" method="post">
<label for="mail">Email</label>
<input type="email" name="email">
<br><br>
<label for="password">Password</label>
<input type="password" name="password">
<br><br>
<label for="role">Role</label>
   Admin<input type="radio" name="role" value="admin">
   User<input type="radio" name="role" value="user" >
   <br><br>
<input type="submit" value="LOGIN">
</body>
</html>